@font-face 
{
  font-family: Onthemove;
  src: url('onthemove.ttf');
  src: url('onthemove.eot');
  src: url('onthemove.svg');
  src: url('onthemove.woff');
}

* { 
  font-family: "Onthemove"; 
  font-size: 30px;
}

#entete {
  background-color: #01B0F0;
  height: 120px;
  text-align: center;
  font-size: 60px;
  padding-top: 50px;
}
#basdepage {
  background-color: #01B0F0;
  height: 30px;
  text-align: right;
  padding-right: 30px;
}
